.redbox {
  background-color: rgb(211,37,40);
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  color: white;
}

.lead-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.img-polaroid {
  padding: 20px;
  margin: 10px;
}

p img {
  padding: 20px;
}

p, ul > li {
  margin-bottom: 10px;
}

.navbar-fixed-top ul > li {
  margin-bottom: 0px;
}


body {
  font-family: 'Sonony', sans-serif;
}

code {
  color: #944;
}

.footer {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.sidenav li {
  padding: 0;
  line-height: 15px;
  margin-bottom: 0;
}

.nav-list>.active>a {
  background-color: rgb(211,37,40);
}

a {
  color: #944;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #BA2121;
}

h2 {
  margin-top: 25px;
  font-size: 27px;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table tbody {
  border-top: 2px solid #dddddd;
}

table th,
table td {
  border-left: 1px solid #dddddd;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}


