<a href="https://twitter.com/share" class="twitter-share-button" data-via="TALOpenSource" data-show-count="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a href="https://twitter.com/TALOpenSource" class="twitter-follow-button" data-show-count="true">Follow us</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<iframe src="http://ghbtns.com/github-btn.html?user=fmtvp&repo=tal&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>

<iframe src="http://ghbtns.com/github-btn.html?user=fmtvp&repo=tal&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
