<table id="issues">
    <thead>
    <tr>
        <th>Project</th>
        <th>Issue</th>
        <th>Description</th>
    </tr>
    </thead>
</table>

<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/underscore-min.js"></script>
<script src="{{site.baseurl}}/js/gh3.min.js"></script>

<script>
    var issuesTable = document.getElementById("issues"),
        fmtvpOrg = new Gh3.User('fmtvp'),
        talRepo = new Gh3.Repository('tal', fmtvpOrg),
        talExampleRepo = new Gh3.Repository('talexample', fmtvpOrg);

    function talIssuesCallback() {
        var talIssues = talRepo.issues,
            issue;

        for (var i = talIssues.length; i--;) {
            issue = talIssues[i];
            if (!issue.pull_request && issueLabelledAsBug(issue)) {
                insertIssue('TAL', talIssues[i]);
            }
        }
    }

    function talExampleIssuesCallback() {
        var talExampleIssues = talExampleRepo.issues,
            issue;

        for (var i = talExampleIssues.length; i--;) {
            issue = talExampleIssues[i];
            if (!issue.pull_request && issueLabelledAsBug(issue)) {
                insertIssue('TAL Example', talExampleIssues[i]);
            }
        }
    }

    talRepo.fetchIssues(talIssuesCallback);
    talExampleRepo.fetchIssues(talExampleIssuesCallback);

    function issueLabelledAsBug (issue) {
        var labels = issue.labels;
        for (var i = labels.length; i--;) {
            if (labels[i].name === 'bug') {
                return true;
            }
        }
        return false;
    }

    function insertIssue(project, issue) {
        var issueRow = issuesTable.insertRow();

        var issueProject = issueRow.insertCell();
        var issueNumber = issueRow.insertCell();
        var issueDescription = issueRow.insertCell();

        var projectText = document.createTextNode(project);

        var issueLink  = document.createElement('a');
        issueLink.appendChild(document.createTextNode('#' + issue.number));
        issueLink.href = issue.html_url;

        var descriptionText  = document.createTextNode(issue.title);

        issueProject.appendChild(projectText);
        issueNumber.appendChild(issueLink);
        issueDescription.appendChild(descriptionText);
    }
</script>

