        <div class="span2">

          <img src="{{site.baseurl}}/img/tal-logo-bw.jpg"></img>

          <p></p>
          <br />

          <p><code>{{site.tal_release_version}}</code></p>
          <a class="btn btn-block btn-danger" type="button" href="https://github.com/fmtvp/tal/zipball/master"><i class="icon-download-alt icon-white"></i> Download ZIP</a>
          <a class="btn btn-block btn-danger" type="button" href="https://github.com/fmtvp/tal/tarball/master"><i class="icon-download-alt icon-white"></i> Download TAR</a>
          <a class="btn btn-block btn-danger" type="button" href="https://github.com/fmtvp/tal"><i class="icon-eye-open icon-white"></i> View on GitHub</a>

          <div>
            <p></p>
            <p>
              {% include follow.html %}
            </p>
            <p>
              {% include tweet.html %}
            </p>
          </div>

        </div>
