    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/bbclogo.png"></a>
        <ul class="nav">

          <!-- Landing Page -->          
          <li class="active"><a href="{{site.baseurl}}/index.html">Home</a></li>
          
          <!-- Getting started pages -->
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{site.baseurl}}/getting-started/introducing-tal.html">Introducing TAL</a></li>
              <li><a href="{{site.baseurl}}/getting-started/tutorial/installation.html">Installation</a></li>
              <li><a href="{{site.baseurl}}/getting-started/tutorial/createanindex.html">The Index</a></li>
              <li><a href="{{site.baseurl}}/getting-started/tutorial/applicationclass.html">Launch the App</a></li>
              <li><a href="{{site.baseurl}}/getting-started/tutorial/firstcomponent.html">First Component</a></li>
              <li><a href="{{site.baseurl}}/getting-started/tutorial/layout.html">Example Layout &amp; Style</a></li>
            </ul>
          </li>

          <!-- Technical overview sections -->
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Overview<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{site.baseurl}}/overview/concepts.html">Concepts</a></li>
              <li class="divider"></li>
              <li><a href="{{site.baseurl}}/overview/device-configuration.html">Device Config</a></li>
              <li><a href="{{site.baseurl}}/overview/components.html">Components</a></li>
              <li><a href="{{site.baseurl}}/overview/layouts.html">Layouts and Style</a></li>
              <li><a href="{{site.baseurl}}/overview/events.html">Events</a></li>
            </ul>
          </li>
          
          <!-- Widget documentation -->
          <li class="dropdown active">
            <a href="{{site.baseurl}}/widgets" class="dropdown-toggle" data-toggle="dropdown">Widgets<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{site.baseurl}}/widgets/working-with-widgets.html">Working With Widgets</a></li>
              <li><a href="{{site.baseurl}}/widgets/data-binding.html">Data Binding</a></li>
              <li><a href="{{site.baseurl}}/widgets/media-playback.html">Media Playback</a></li>
              <li><a href="{{site.baseurl}}/other/broadcast.html">Broadcast TV</a></li>
              <li><a href="{{site.baseurl}}/widgets/focus-management.html">Focus Management</a></li>
              <li><a href="{{site.baseurl}}/widgets/animation.html">Animation</a></li>
            </ul>
          </li>
          
          <!-- Miscelaneous topics -->
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{site.baseurl}}/other/storage.html">Storage</a></li>
              <li><a href="{{site.baseurl}}/other/exiting.html">Exiting</a></li>
              <li><a href="{{site.baseurl}}/other/networking.html">Networking</a></li>
              <li><a href="{{site.baseurl}}/other/contributing.html">Contributing</a></li>
              <li><a href="{{site.baseurl}}/other/contact.html">Contact</a></li>
            </ul>
          </li>
          
          <!-- Class documentation -->
          <li class="active"><a href="{{site.baseurl}}/jsdoc/index.html">JS Doc</a></li>
          
          <!-- Getting started pages -->
          <li class="active"><a href="{{site.baseurl}}/testing.html">Testing</a></li>
          
          <!-- FAQ Section -->
          <li class="active"><a href="{{site.baseurl}}/faq.html">FAQ</a></li>
        
        </ul>
        </div>
      </div>
    </div>
    
    
